// Place all the styles related to the answers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.qna-ta-a {height:100px;margin-bottom:10px;}
.vote-section div.vote-control {text-align:center;}
.vote-control.vote-count {font-size:18px;font-weight:bold;padding:8px 0px;}
