// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.qna-que {padding:10px 0px;border-bottom:1px dotted #CCC;}
.qna-que-cnt {text-align:center;}
a.qna-que-link {color:#08C;}
a.qna-que-link:hover {text-align:underline;color:#08C;}
.qna-ta-q {height:200px;}
.qna-q-d {font-size:15px;}
.qna-q-a-d {font-size:14px;}
